$mainDark: rgba(37, 36, 37, 1);
$mainFont: 'Raleway', sans-serif;
$secondaryFont: 'Montserrat', sans-serif;
$chineseFont: 'Source-Han-Ligh1aa8e7dc5620303';
$chineseHand: 'cyjianxk1aa8ec8c6820303';

@mixin flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(37, 36, 37, 1);
    font-weight: 200;
}

a {
    text-decoration: none;
    color: unset;
}

.title {
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 200;
    color: rgba(37, 36, 37, .9);
    margin: 0;
    margin-top: 4rem;
    cursor: default;
}

.btn {
    border: 0;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(37, 36, 37, .0);
    font-family: $secondaryFont;
    padding: .7rem;
    cursor: pointer;
    transition: .3s;
    &:hover {
        border: 1px solid rgba(255, 255, 255, .7);
    }
}

.btn:focus {
    outline: none;
}

.dark-btn {
    color: rgba(37, 36, 37, .9);
    border: 1px solid rgba(37, 36, 37, .2);
    cursor: pointer;
    transition: .2s;
    font-size: 1rem;
    padding: .7rem;
    .fa-chevron-left {
        color: rgba(37, 36, 37, .9);
        font-size: 1rem;
        margin-right: .3rem;
        transition: .2s;
    }
}
.dark-btn:hover {
    color: rgba(255, 255, 255, .9);
    background-color: rgba(37, 36, 37, 1);
    border: 1px solid rgba(255, 255, 255, .9);
    .fa-chevron-left {
        color: rgba(255, 255, 255, .9);
    }
}

@keyframes fade-out {
    0% {
        opacity: 0;
        // transform: translateY(10%);
    }
    100% {
        opacity: 1;
    }
}

@keyframes modal-open {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.cn-text {
    font-family: $chineseHand;
}


// ------------------------- NAVBAR
.navbar {
    @include flexbox;
    justify-content: space-between;
    mix-blend-mode: exclusion;
    width: 100%;
    height: 4rem;
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    z-index: 5;
    .sign-logo {
        @include flexbox;
        width: 10rem;
        height: 100%;
        margin-left: .5rem;
        cursor: pointer;
        a {
            @include flexbox;
            width: 100%;
            height: 100%;
            img {
                width: 100%;
            }
        }
    }
    .lang-menu {
        @include flexbox;
        position: absolute;
        z-index: 4;
        right: 5rem;
        .lang-btn {
            font-size: .8rem;
            font-family: $mainFont;
            padding: 0;
            opacity: .5;
            transition: .5s;
            background-color: rgba(37, 36, 37, 1);
            height: 2.5rem;
            width: 2.5rem;
            &:hover {
                opacity: 1;
                border: none;
            }
            &.cn-btn {
                font-family: 'Noto Sans SC', sans-serif;
            }
            &.lang-active {
                color: rgba(255, 255, 255, .9);
                background-color: rgba(37, 36, 37, 1);
                opacity: 1;
            }
        } 
    }
    .hamburger {
        @include flexbox;
        z-index: 5;
        mix-blend-mode: exclusion;
        box-sizing: border-box;
        transition: all .3s ease;
        cursor: pointer;
        height: 3rem;
        width: 3rem;
        padding: .7rem;
        margin: .7rem;
        .bar {
            position: relative;
            width: 100%;
            height: 3px;
            background-color: rgba(255, 255, 255, .8);
            z-index: 4;
        }
        .bar::before, .bar::after {
            content: '';
            position: absolute;
            z-index: 4;
            top: -8px;
            width: 100%;
            height: 3px;
            transition: .3s;
            background-color: rgba(255, 255, 255, .8);
        }
        .bar::after {
            top: 8px;
        }
        &.hamburger-active {
            transform: rotate(45deg);
            .bar::before, .bar::after {
                top: 0;
                transform: rotate(90deg);
            }
        }
        &:hover {
            background: rgba(255, 255, 255, .1);
            border-radius: 50%;
        } 
    }
}


.main-menu {
    @include flexbox;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 4;
    background-color: rgba(37, 36, 37, .0);
    // transform: translateY(-110%);
    pointer-events: none;
    opacity: 0;
    transition: .6s;   
    .nav-menus {
        @include flexbox;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        .menu-item {
            @include flexbox;
            flex: 25%;
            flex-direction: column;
            .menu-category {
                font-size: 3.5rem;
                color: rgba(255, 255, 255, 1);
                font-weight: 200;
                text-transform: uppercase;
                margin: 0;
                padding: .8rem;
                cursor: default;
            }
            .menu-option {
                margin: 0;
                font-size: 1.3rem;
                text-transform: uppercase;
                color: rgba(255, 255, 255, .7);
                padding: .3rem;
                margin-top: 1rem;
                cursor: pointer;
                transition: .3s;
            }
            // .projects-link {
            //     font-size: 1.5rem;
            //     text-transform: uppercase;
            //     color: rgba(255, 255, 255, 1);
            //     padding: .5rem;
            // }
            .menu-option:hover {
                color: rgba(255, 255, 255, .9);
            }
        }    
    }
    &.menu-active {
        transform: translateY(0%);
        background-color: rgba(37, 36, 37, .9);
        opacity: 1;
        pointer-events: all;
    }
}



@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
    .navbar {
        .sign-logo {
            width: 8rem;
        }
        .lang-menu {
            height: 4rem;
            .lang-btn {
                font-size: .8rem;
                font-family: $mainFont;
                opacity: .5;
                transition: .5s;
                background-color: rgba(37, 36, 37, .5);
                height: 2.3rem;
                width: 2.3rem;
                &:hover {
                    opacity: 1;
                    border: none;
                }
                &.lang-active {
                    color: rgba(255, 255, 255, 1);
                    opacity: 1;
                }
                &.cn-btn {
                    font-family: 'Noto Sans SC', sans-serif;
                }
            }
            
        }
    }

    
    .main-menu {
        .nav-menus {
            flex-direction: column;
            align-items: center;
            .menu-item {
                width: 100%;
                margin-top: .5rem;
                .menu-category {
                    font-size: 2rem;
                    padding: .8rem;
                    margin-top: .7rem;
                }
                .menu-option {
                    font-size: .9rem;
                    padding: .1rem;
                    margin: .3rem 0;
                }
            }
        }
    }
}

// ------------------------- Parallax 

.parallax-background {
    @include flexbox;
    justify-content: center;
    height: 110vh;
    .parallax-textbox {
        @include flexbox;
        flex-direction: column;
        box-shadow: inset 0px 0px 250px rgba(37, 36, 37, 1);
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        .titles-section {
            // background-color: rgba(37, 36, 37, .5);
            padding: 1rem;
            h2, p {
                width: 100%;
                text-align: center;
                font-size: 4rem;
                font-weight: 200;
                color: rgba(255, 255, 255, .9);
                padding: 0;
                margin: 0;
                cursor: default;
            }
            p {
                font-size: 2.5rem;
            }
        }
    } 
    .genres-section {
        @include flexbox;
        margin-top: 3rem;
        p {
            text-align: center;
            font-size: 1.2rem;
            font-weight: 200;
            color: rgba(255, 255, 255, .8);
            border: 1px solid rgba(255, 255, 255, 0);
            padding: 10px;
            margin: 0 2rem;
            cursor: pointer;
            transition: .3s;
        }
        p:hover {
            background-color: rgba(37, 36, 37, .5); 
            color: rgba(255, 255, 255, 1);
            // border: 1px solid rgba(255, 255, 255, .7);
        }
    }
    .parallax-secondary-section {
        @include flexbox;
        flex-direction: column;
        width: 50%;
        margin-bottom: 3rem;
        .parallax-title {
            width: 100%;
            font-size: 3.5rem;  
            font-weight: 200;
            text-align: center;
            color: rgba(255, 255, 255, 1);
            margin: 1rem;
            cursor: default;
        }
        .btn {
            border: 0;
            font-size: 1.1rem;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 1);
            background-color: rgba(37, 36, 37, .0);
            border: 1px solid rgba(255, 255, 255, 0);
            padding: .7rem;
            cursor: pointer;
            transition: .3s;
        }
        .btn:hover {
            // border: 1px solid rgba(255, 255, 255, .7);
            background-color: rgba(37, 36, 37, .5);
        }
        .btn:focus {
            outline: none;
        }
        .down {
            width: 3rem;
            height: 3rem;
            align-self: flex-start;
            margin-left: 1rem;
        }
    }
}
.first {
    justify-content: flex-start;
}

.second {
    justify-content: flex-start;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
    .parallax-background {
        height: 100vh;
        .parallax-textbox {
            .titles-section {
                padding: 0;
                h2, p {
                    font-size: 2.2rem;
                }
                p {
                    font-size: 1.2rem;
                }
            }
        }
        .genres-section {
            flex-direction: column;
            width: 100%;
            margin-top: 1rem;
            p {
                font-size: 1rem;
                padding: .5rem;
            }
        }
        .parallax-secondary-section {
            width: 100%;
            height: 100%;
            background-color: rgba(37, 36, 37, .2);
            margin: 0;
            .parallax-title {
                font-size: 2.5rem;
                text-transform: uppercase;
                margin: .5rem;
            }
            .btn {
                font-size: 1.2rem;
            }
        }
    }
}


// ------------------------- Scroll Top Button

.scroll-to-top {
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
    opacity: .6;
    text-transform: uppercase;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, .2);
}

.scroll-to-top:hover {
    opacity: 1;
}


// ------------------------- INFO PAGE

.info-page {
    @include flexbox;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    min-height: 115vh;
    .image-section {
        @include flexbox;
        width: 23rem;
        padding: .5rem;
        margin-top: 4rem;
        img {
            width: 100%;
            border-radius: 50%;
        }
    }
    .about-name {
        @include flexbox;
        width: 100%;
        text-transform: uppercase;
        font-family: $secondaryFont;
        font-size: 3rem;
        line-height: 4rem;
        font-weight: 200;
        color: rgba(37, 36, 37, .9);
        margin: 0;
        margin-top: 2rem;
        cursor: default;
        span {
            font-weight: 800;
        }
    }
    .cn-name {
        font-size: 2rem;
    }
    .about-page {
        @include flexbox;
        flex-direction: column;
        animation: fade-out .7s;
        .title {
            margin-top: 1.5rem;
        }
        .info-box{
            @include flexbox;
            width: 100%;
            flex-direction: column;
            margin-top: 2rem;
            .info-section {
                @include flexbox;
                flex-direction: column;
                align-items: flex-start;
                width: 50%;
                padding: 1rem; 
                .bio-text {
                    color: rgba(37, 36, 37, 1);
                    font-size: 1.2rem;
                    .abzac {
                        margin-left: 2rem;
                    }
                }
            }
        }
    }
    .contact-page {
        @include flexbox;
        flex-direction: column;
        animation: fade-out .7s;
        .title {
            margin-top: 1.5rem;
        }
        .dark-btn {
            margin-top: 2rem;
        }
        .contact-cont, .contact-socials {
            @include flexbox;
            font-family: $secondaryFont;
            flex-direction: column;
            margin-top: 2rem;
            .cont-text {
                font-size: 1.4rem;
                margin: 0;
                .bold-text {
                    font-weight: 600;
                }
            }
            .uppercase {
                text-transform: uppercase;
                font-size: 2rem;
            }
        }
        .contact-socials {
            margin: 0;
            margin-top: .5rem;
            i {
                @include flexbox;
                font-size: 2rem;
                cursor: pointer;
                color: rgba(37, 36, 37, .7);
                p {
                    font-family: $mainFont;
                    margin: .5rem .5rem;
                }
            }
        }
    }     
}

@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
    .info-page {
        width: 100%;
        .image-section {
            width: 80%;
        }
        .about-name {
            font-size: 1.5rem;
            margin-top: .5rem;
        }
        .cn-name {
            margin: 0;
            height: 3rem;
        }
        .about-page {
            .title {
                margin-top: .5rem;
                font-size: 2rem;
            }
            .dark-btn {
                margin-top: 1rem;
                font-size: 1rem;
            }
            .info-box {
                margin-top: .5rem;
                .info-section {
                    width: 90%;
                    padding: 0;
                    .bio-text {
                        font-size: 1.1rem;
                    }
                }
            }
        }
        .contact-page {
            .title {
                margin-top: .5rem;
                font-size: 2rem;
            }
            .dark-btn {
                margin-top: 1rem;
                font-size: 1rem;
            }
        }
    }
}
// ----------------------------------


  // smart sticky header 
  .gallery-title{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
    color: rgba(37, 36, 37, .9);
    margin: 0;
    cursor: default;
    margin-top: 6rem;
    margin-bottom: 1rem;
}
  .gallery-categories{
    position: sticky;
    top: -1px;
    font-size: 3em;
    transition: .2s ease-out;
    margin-bottom: 2rem;
    .category-name {
        font-size: 1.7rem;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 400;
        color: rgba(37, 36, 37, .7);
        border: 1px solid rgba(255, 255, 255, 0);
        margin: 1rem 1rem;
        padding: .5rem;
        transition: .1s;
        &:hover {
            // color: rgba(37, 36, 37, 1);
            color: rgba(255, 255, 255, 1);
            background-color: rgba(37, 36, 37, .4);
        }
        } 
        .active-submenu {
            // border: 1px solid rgba(37, 36, 37, .2);
            background-color: rgba(37, 36, 37, .4);
            color: rgba(255, 255, 255, 1);
        }             
    
    &.isSticky{
      @include flexbox;
      width: 80%;
      margin-top: 5rem;
      z-index: 10;
      background-color: rgba(37, 36, 37, 1);
      height: 5rem;
      .category-name {
          font-size: 1.3rem;
          color: rgba(255, 255, 255, 1);
          padding: 1rem;
          &:hover {
            border: 1px solid rgba(255, 255, 255, .3);
        }
      }
      
      
    //   &::after{
    //     content:" is sticky";
    //     color: salmon;
    //   }
    }
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
      .gallery-title {
          font-size: 2rem;
      }
      .gallery-categories {
          @include flexbox;
          width: 100%;
          .category-name {
              font-size: .8rem;
              margin: 0;
              padding: o;
          }
          &.isSticky {
              width: 100%;
              height: 3rem;
            .category-name {
                font-size: .7rem;
            }
          }
      }
  }

// ------------------------- Gallery

.gallery-main-container {
    @include flexbox;
    background-color: rgba(255, 255, 255, 1);
    .gallery-inner-container {
        @include flexbox;
        flex-direction: column;
        width: 100%;  
        .images-container {
            @include flexbox;
            width: 80%;
            overflow: hidden;
            flex-direction: column;
            background-size: cover;
            background-attachment: fixed;
            margin: auto;
            .genre-title {
                text-align: center;
                font-size: 3rem;
                padding: 1rem;
                font-weight: 300;
                text-transform: uppercase;
                margin: 0;
                cursor: default;  
            }
            .gallery-container {
                -webkit-column-count: 3;
                -moz-column-count: 3;
                column-count: 3;
                -webkit-column-gap: 5px;
                -moz-column-gap: 5px;
                column-gap: 5px;
                margin-top: 5px;
                overflow: hidden;
                .img-container {
                    img {
                        width: 100%; 
                        height: auto;
                        transition: 500ms;
                        opacity: 0.8;
                        page-break-inside: avoid; /* For Firefox. */
                        -webkit-column-break-inside: avoid; /* For Chrome & friends. */
                        break-inside: avoid; /* For standard browsers like IE. :-) */
                        cursor: pointer;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    } 
    &.compart-back {
        background-image: url('./images/gallery_back/compart_back.jpg');
        background-size: cover;
        background-attachment: fixed;
    }
    &.bw-back {
        background-image: url('./images/gallery_back/bw_back.jpg');
        background-size: cover;
        background-attachment: fixed;
    }
    &.portraits-back {
        background-image: url('./images/gallery_back/portraits_back.jpg');
        background-size: cover;
        background-attachment: fixed;
    } 
}



@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
    .gallery-main-container {
        .gallery-inner-container {
            .gallery-main-textbox {
                justify-content: flex-end;
                margin: 0;
                height: 25vh;
                .gallery-title {
                    font-size: 1.6rem;
                    padding: 0;
                    margin-top: 4rem;
                }
                .gallery-categories {
                    margin: 0rem 0;
                    .category-name {
                        padding: .3rem;
                        font-size: .8rem;
                        margin: 1rem .2rem;
                    }
                }
            }
            .images-container {
                width: 100%;
                .gallery-container {
                    column-count: 2;
                    -webkit-column-gap: 0px;
                    -moz-column-gap: 0px;
                    column-gap: 5px;
                    margin-top: 0px;
                    .img-container {
                        img {
                            width: 100%; 
                            height: auto;
                            transition: 500ms;
                            margin-bottom: 0px;
                            opacity: 0.9;
                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
                .genre-title {
                    font-size: 2rem;
                }
            }
        }
        &.compart-back, &.portraits-back, &.bw-back {
            background-image: none;
        }
    }
}

// ------------------------- FOOTER

.footer {
    @include flexbox;
    min-height: 10rem;
    .footer-block {
        @include flexbox;
        flex-direction: column;
        h2 {
            color: rgba(255, 255, 255, .9);
            font-size: 1.3rem;
            font-weight: 200;
            text-transform: uppercase;
        }
        .website {
            color: rgba(255, 255, 255, .9);
            font-size: 1.1rem;
            font-weight: 200;
            margin: 0;
            font-family: $secondaryFont;
        }
        .socials {
            @include flexbox;
            // width: 50%;
            justify-content: space-around;
            margin-top: 1rem;
            height: 3rem;
            .social-container {
                @include flexbox;
                margin: 1rem 1rem;
                .fab {
                    color: rgba(255, 255, 255, .7);
                    font-size: 2rem;
                }
                p, a {
                    color: rgba(255, 255, 255, .7);
                    font-family: $mainFont;
                    margin-left: .5rem;
                }
            }
        }
        
    }
    .copyright {
        color: rgba(255, 255, 255, .9);
        font-size: .8rem;
        font-weight: 200;
        margin: 0; 
        padding: 1rem;
    }
}

// ------------------------- PROJECTS PAGE

.projects-page {
    @include flexbox;
    width: 100%;
    min-height: 90vh;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
    .projects-title, .project-title {
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 300;
        cursor: default;
    }
    .projects-container {
        @include flexbox;
        width: 100%;
        animation: fade-out 1s;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
    .projects-page {
        .projects-title, .project-title {
            font-size: 2rem;
        }
        .projects-title {
            margin-top: 5rem;
        }
        .projects-container {
            flex-direction: column;
        }
    }
}

// ------------------------- Project Item
.project-item {
    @include flexbox;
    height: 33rem;
    width: 33rem;
    transition: .5s;
    overflow: hidden;
    position: relative;
    .title-text {
        position: absolute;
        top: 78%;
        width: 100%;
        opacity: 0;
        transform: translateX(-30vw);
        font-size: 2rem;
        font-weight: 300;
        padding: .5rem;
        text-transform: uppercase;
        z-index: 2;
        text-align: center;
        color: rgba(255, 255, 255, .7);
        background-color: rgba(37, 36, 37, 1);
        box-shadow: 0px 0px 40px rgba(37, 36, 37, .2);
        transition: 1s;
    }  
    .item-container {
        @include flexbox;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        opacity: 0.7;
        cursor: pointer;
        transition: 1s;
        
    }
    &:hover {
        .title-text {
            opacity: 1;
            transform: translateX(0vw);
        }
        .item-container {
            opacity: 1;
            transform: scale(1.1);
        }
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
    .projects-link {
        width: 100%;
        height: 25rem;
        overflow: hidden;
        .project-item {
            width: 100%;
            height: 100%;
            .title-text {
                opacity: 1;
                transform: translateX(0);
                top: 80%;
                font-size: 1.7rem;
                background-color: rgba(37, 36, 37, .8);
                padding: .8rem;
            }
            .item-container {
                opacity: 1;
            }
        }
    }
}


// ------------------------- Single Project

.blured  {
    filter: blur(5px);
}

.single-project-page {
    @include flexbox;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 1);
    transition: all .7s ease;
    .single-project {
        width: 100%;
        @include flexbox;
        animation: fade-out 1s;
        flex-direction: column;
        .dark-btn {
            margin-top: 5rem;
            border: 1px solid rgba(255, 255, 255, 0);
            position: relative;
            z-index: 5;
        }
        .single-title {
            font-size: 4rem;
            text-transform: uppercase;
            font-weight: 200;
            margin: 0;
            margin-top: 1rem;
            padding: 1rem;
            cursor: default;
        }
        .single-description {
            @include flexbox;
            width: 100%;
            .desc-text {
                width: 50%;
                font-size: 1.3rem;
                span {
                    margin-left: 3rem;
                }
            }
        }
        .projects-gallery {
            @include flexbox;
            align-items: flex-start;
            width: 90%;
            flex-wrap: wrap;
            margin: 0;
            margin-bottom: 3rem;
            .images-container {
                -webkit-column-count: 3;
                -moz-column-count: 3;
                column-count: 3;
                -webkit-column-gap: 10px;
                -moz-column-gap: 10px;
                column-gap: 10px;
                margin-top: 10px;
                overflow: hidden;
                .project-image-container {
                    img {
                        width: 100%; 
                        height: auto;
                        transition: 500ms;
                        margin-bottom: 10px;
                        opacity: 0.8;
                        page-break-inside: avoid; /* For Firefox. */
                        -webkit-column-break-inside: avoid; /* For Chrome & friends. */
                        break-inside: avoid; 
                        cursor: pointer;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }  
        }
    }
    .shamans-back {
        background-image: url('./images/projects_back/shamans.jpg');
        background-attachment: fixed;
        background-size: cover;
    }
    .ukr-back {
        background-image: url('./images/projects_back/ukrainian.jpg');
        background-attachment: fixed;
        background-size: cover;
    }
    .steampunk-back {
        background-image: url('./images/projects_back/steampunk.jpg');
        background-attachment: fixed;
        background-size: cover;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
    .single-project-page {
        .single-project {
            .single-title {
                font-size: 3rem;
                text-align: center;
            }
            .single-description {
                width: 90%;
                .desc-text {
                    width: 100%;
                    font-size: 1.1rem;
                }
            }
            .projects-gallery {
                width: 100%;
                .images-container {
                    column-count: 2;
                    -webkit-column-gap: 5px;
                    -moz-column-gap: 5px;
                    column-gap: 5px;
                    margin-top: 5px;
                    .project-image-container {
                        img {
                            margin: 0;
                            opacity: .9;
                        }
                    }
                }
            }
        }
        .shamans-back, .ukr-back, .steampunk-back {
            background-image: none;
        }
    }
}

// ------------------------- Modal Window

.modal-container {
    display: none;
    align-self: center;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 36, 37, .8);
    .overlay {
        width: 30%;
        height: 100%;
    }
    .modal-image-container {
        @include flexbox;
        height: 95vh;
        img {
            height: 100%;
            box-shadow: 0px 0px 80px rgba(0, 0, 0, .5);
        }
    }
    .modal-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
        background-color: rgba(37, 36, 37, .7);
      }
    .move-btn {
        margin: 0 1rem;
    }
  }

  .visible {
      @include flexbox;
      animation: modal-open .7s;
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
    .modal-container {
        .overlay {
            display: none;
        }
        .modal-image-container {
            width: 100%;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}


