$mainDark: rgba(37, 36, 37, 1);
$mainFont: 'Raleway', sans-serif;
$secondaryFont: 'Montserrat', sans-serif;

@mixin flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(37, 36, 37, 1);
}

a {
    text-decoration: none;
    color: unset;
}

.title {
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 200;
    font-family: $secondaryFont;
    color: rgba(37, 36, 37, .9);
    margin: 0;
    margin-top: 4rem;
    cursor: default;
}

.btn {
    border: 0;
    font-size: 1.1rem;
    font-family: $secondaryFont;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(37, 36, 37, .0);
    border: 1px solid rgba(255, 255, 255, 0);
    padding: .7rem;
    cursor: pointer;
    transition: .3s;
}
.btn:hover {
    border: 1px solid rgba(255, 255, 255, .7);
}
.btn:focus {
    outline: none;
}

@keyframes fade-out {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
    }
}


// ------------------------- NAVBAR
.hamburger{
    @include flexbox;
    justify-content: space-between;
    mix-blend-mode: exclusion;
    width: 100%;
    height: 4rem;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 1);
    position: fixed;
    top: 0;
    right: 2rem;
    z-index: 5;
    .fa-bars {
        cursor: pointer;
        border-radius: .4rem;
        text-align: center;
        width: 1.5rem;
        height: 1.5rem;
    }
    .sign-logo {
        width: 10rem;
        margin-left: 3rem;
        margin-top: 1rem;
        cursor: pointer;
        img {
            width: 100%;
        }
    }
}

.navbar {
    @include flexbox;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 4;
    background-color: rgba(37, 36, 37, .0);
    transform: translateY(-110%);
    transition: .6s;   
    .nav-menus {
        @include flexbox;
        align-items: flex-start;
        justify-content: space-around;
        width: 80%;
        .menu-item {
            @include flexbox;
            flex-direction: column;
            .menu-category {
                font-family: $secondaryFont;
                font-size: 4.5rem;
                color: rgba(255, 255, 255, 1);
                font-weight: 200;
                text-transform: uppercase;
                margin: 0;
                padding: .8rem;
                cursor: default;
            }
            .menu-option {
                margin: 0;
                font-family: $secondaryFont;
                font-size: 1.5rem;
                text-transform: uppercase;
                color: rgba(255, 255, 255, .7);
                padding: .3rem;
                margin-top: 1rem;
                cursor: pointer;
                transition: .3s;
            }
            .projects-link {
                font-size: 1.9rem;
                text-transform: uppercase;
                color: rgba(255, 255, 255, .9);
            }
            .menu-option:hover {
                color: rgba(255, 255, 255, .9);
            }
        }    
    }
}

.navbar-active {
    transform: translateY(0%);
    background-color: rgba(37, 36, 37, .9);
}

// ------------------------- Parallax 

.parallax-background {
    @include flexbox;
    justify-content: center;
    height: 110vh;
    .parallax-textbox {
        @include flexbox;
        flex-direction: column;
        box-shadow: inset 0px 0px 250px rgba(37, 36, 37, 1);
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        .titles-section {
            // background-color: rgba(37, 36, 37, .5);
            padding: 1rem;
            h2, p {
                width: 100%;
                text-align: center;
                font-size: 4rem;
                font-weight: 200;
                font-family: $secondaryFont;
                color: rgba(255, 255, 255, .9);
                padding: 0;
                margin: 0;
                cursor: default;
            }
            p {
                font-size: 2.5rem;
            }
        }
    } 
    .genres-section {
        @include flexbox;
        justify-content: space-around;
        width: 35%;
        margin-top: 3rem;
        p {
            text-align: center;
            font-size: 1.2rem;
            font-weight: 200;
            font-family: $secondaryFont;
            color: rgba(255, 255, 255, .8);
            border: 1px solid rgba(255, 255, 255, 0);
            padding: 10px;
            margin: 0;
            cursor: pointer;
            transition: .3s;
        }
        p:hover {
            background-color: rgba(37, 36, 37, 0); 
            color: rgba(255, 255, 255, 1);
            border: 1px solid rgba(255, 255, 255, .7);
        }
    }
    .parallax-secondary-section {
        @include flexbox;
        flex-direction: column;
        width: 50%;
        margin-bottom: 3rem;
        .parallax-title {
            width: 100%;
            font-size: 3.5rem;  
            font-weight: 200;
            text-align: center;
            font-family: $secondaryFont;  
            color: rgba(255, 255, 255, 1);
            margin: 1rem;
            cursor: default;
        }
        .btn {
            border: 0;
            font-size: 1.1rem;
            font-family: $secondaryFont;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 1);
            background-color: rgba(37, 36, 37, .0);
            border: 1px solid rgba(255, 255, 255, 0);
            padding: .7rem;
            cursor: pointer;
            transition: .3s;
        }
        .btn:hover {
            border: 1px solid rgba(255, 255, 255, .7);
        }
        .btn:focus {
            outline: none;
        }
        .down {
            width: 3rem;
            height: 3rem;
            align-self: flex-start;
            margin-left: 1rem;
        }
    }
}
.first {
    justify-content: flex-start;
}

.second {
    justify-content: flex-start;
}

@media(max-width: 770px) {
    .parallax-background {
        height: 100vh;
        .parallax-textbox {
            .titles-section {
                padding: 0;
                h2, p {
                    font-size: 2.2rem;
                }
                p {
                    font-size: 1.5rem;
                }
            }
        }
        .genres-section {
            flex-direction: column;
            p {
                font-size: 1rem;
            }
        }
        .parallax-secondary-section {
            width: 100%;
            .parallax-title {
                font-size: 3rem;
                margin: 5rem;
            }
            .btn {
                font-size: 1rem;
            }
        }
    }
}


// ------------------------- Scroll Top Button

.scroll-to-top {
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
    opacity: .6;
    font-family: $secondaryFont;
    text-transform: uppercase;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, .2);
}

.scroll-to-top:hover {
    opacity: 1;
}


// ------------------------- About 

.about-page {
    @include flexbox;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
    .info-box{
        @include flexbox;
        width: 100%;
        flex-direction: column;
        margin-top: 2rem;
        .image-section {
            @include flexbox;
            width: 30rem;
            padding: 1rem;
            img {
                width: 100%;
                border-radius: 50%;
            }
        }
        .about-name {
            text-transform: uppercase;
            font-size: 5rem;
            line-height: 3.5rem;
            font-weight: 200;
            font-family: $secondaryFont;
            color: rgba(37, 36, 37, .9);
            margin: 0;
            margin-top: 2rem;
            cursor: default;
            span {
                font-weight: 800;
            }
        }
        .info-section {
            @include flexbox;
            flex-direction: column;
            align-items: flex-start;
            width: 40%;
            padding: 2rem; 
            .bio-text {
                color: rgba(37, 36, 37, 1);
                font-family: $secondaryFont;
                font-size: 1.1rem;
            }
        }
    }
}

// ------------------------- Gallery

.gallery-main-container {
    @include flexbox;
    .gallery-inner-container {
        @include flexbox;
        flex-direction: column;
        width: 100%;
        background-color: rgba(37, 36, 37, .8);
            .gallery-main-textbox{
                @include flexbox;
                width: 100%;
                background-color: rgba(255, 255, 255, 1);
                flex-direction: column;
                height: 25vh;
            .gallery-title{
                width: 100%;
                text-align: center;
                text-transform: uppercase;
                font-size: 3.5rem;
                font-weight: 200;
                font-family: $secondaryFont;
                color: rgba(37, 36, 37, .9);
                margin: 0;
                margin-top: 4rem;
                cursor: default;
            }
            .gallery-categories {
                @include flexbox;
                width: 100%;
                p {
                   font-family: $secondaryFont;
                   font-size: 1.4rem;
                   margin-left: 1rem;
                   margin-right: 1rem;
                   cursor: pointer;
                   text-transform: uppercase;
                   color: rgba(37, 36, 37, 1);
                   border: 1px solid rgba(255, 255, 255, 0);
                   padding: .6rem;
                   transition: .3s;
                }
                p:hover {
                    border: 1px solid rgba(37, 36, 37, .9);
                }
                .active-submenu p {
                    border: 1px solid rgba(37, 36, 37, .9);
                }                
            }
            
        }
        .genres-list-container {
            @include flexbox;
            width: 100%;
            flex-direction: row;
            background-color: rgba(255, 255, 255, .9);
            .genre-element {
                width: 25%;
                transition: .8s;
                cursor: pointer;
                .third {
                    height: 100vh;
                }
                .parallax-secondary-section {
                    .parallax-title {
                        font-size: 2rem;
                        padding: 1rem;
                        opacity: 0;
                        transition: .4s;
                        background-color: rgba(37, 36, 37, .8);
                        border: 1px solid rgba(255, 255, 255, 0);
                        text-transform: uppercase;
                        cursor: pointer;
                    }
                } 
            }
            .genre-element:hover {
                width: 35%;
                opacity: .7;
                .parallax-secondary-section {
                    .parallax-title {
                        opacity: 1;
                    }
                    .parallax-title:hover {
                        border: 1px solid rgba(255, 255, 255, 1);
                    }
                }                
            }
        }
        .images-container {
            @include flexbox;
            width: 100%;
            overflow: hidden;
            flex-direction: column;
            background-color: rgba(255, 255, 255, 1);
            h2 {
                text-align: center;
                font-size: 2rem;
                padding: 2rem;
                font-weight: 300;
                text-transform: uppercase;
                font-family: $secondaryFont;
                margin: 0;
                cursor: default;  
            }
            .gallery {
                @include flexbox;
                align-items: flex-start;
                .gallery-column {
                    flex: 25%;
                    max-width: 25%;
                }
                .img-container {
                    overflow: hidden; 
                    border: 2px solid rgba(255, 255, 255, .0);
                    transition: .4s;
                    cursor: pointer;
                    img {
                        width: 100%;
                        vertical-align: middle;               
                        transition: .4s;
                    }
                    img:hover {
                        transform: scale(1.1);
                    }
                }
                .img-container:hover {
                    border: 2px solid rgba(255, 255, 255, .6);
                }
            }
            .gallery-mobile {
                display: none;
            }
        }
    }  
}

@media(max-width: 770px) {
    .gallery-main-container {
        .gallery-inner-container {
            .gallery-main-textbox {
                height: 20vh;
                .gallery-title {
                    font-size: 1.5rem;
                    padding: 0;
                    margin-top: 2rem;
                }
                .gallery-categories {
                    p {
                        padding: .3rem;
                        margin: 0;
                        font-size: .7rem;
                        margin: 0rem .2rem;
                        margin-top: 1rem;
                    }
                }
            }
            .genres-list-container {
                flex-direction: column;
                .genre-element {
                    width: 100%;
                    .third {
                        height: 25vh;
                    }
                    .parallax-secondary-section {
                        @include flexbox;
                        width: 100%;
                        height: 25vh;
                        margin: 0;
                        padding: 0;
                        justify-content: flex-end;
                        .parallax-title {
                            width: 30rem;
                            opacity: 1;
                            margin: 0;
                            background-color: rgba(37, 36, 37, .5);
                            padding: .5rem .5rem;
                            font-size: 1.3rem;
                            border: none;
                        }
                    }
                }
                .genre-element:hover {
                    width: 100%;
                    opacity: 1;
                }
            }
            .images-container {
                .gallery {
                    display: none;
                }
                .gallery-mobile {
                    @include flexbox;
                    width: 100%;
                    flex-direction: column;
                    .img-container {
                        overflow: visible;
                        width: 100%;
                        border: none;
                        margin: 0;
                        padding: 0;
                        img {
                            width: 100%;
                        }
                    }
                    .img-container:hover {
                        border: none;
                    }
                }
            }
        }
    }
}

// ------------------------- FOOTER

.footer {
    @include flexbox;
    min-height: 10rem;
    .footer-block {
        @include flexbox;
        flex-direction: column;
        h2 {
            font-family: $secondaryFont;
            color: rgba(255, 255, 255, .9);
            font-size: 1.3rem;
            font-weight: 200;
            text-transform: uppercase;
        }
        .website {
            font-family: $secondaryFont;
            color: rgba(255, 255, 255, .9);
            font-size: 1.1rem;
            font-weight: 200;
            margin: 0;
        }
        .socials {
            @include flexbox;
            width: 50%;
            justify-content: space-around;
            margin-top: 1rem;
            height: 3rem;
            .social-btn {
                font-size: 2rem;
                cursor: pointer;
                transition: .2s;
                color: rgba(255, 255, 255, .9);
            }
            .social-btn:hover {
                transform: scale(1.2);
            }
        }
        
    }
    .copyright {
        font-family: $secondaryFont;
        color: rgba(255, 255, 255, .9);
        font-size: .8rem;
        font-weight: 200;
        margin: 0; 
        padding: 1rem;
    }
}

// ------------------------- PROJECTS PAGE

.projects-page {
    @include flexbox;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
    .projects-title, .project-title {
        font-family: $secondaryFont;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 200;
        cursor: default;
    }
    .projects-container {
        @include flexbox;
        align-items: flex-start;
        width: 100%;
        justify-content: space-around;
        animation: fade-out 1s;
        .project-item {
            @include flexbox;
            flex-direction: column;
            width: 38rem;
            cursor: pointer;
            padding: 1rem;
            img {
                width: 100%;
                transition: .3s;
                filter: brightness(.95);
                // box-shadow: 0px 30px 30px 10px rgba(0, 0, 0, .2);
            }
            img:hover {
                filter: brightness(1.05);
            }
            .project-title {
                font-size: 2.5rem;
                margin: 0;
                padding: .5rem;
                margin-top: 1rem;
            }
        }
    }
}

// ------------------------- Single Project
.single-project-page {
    @include flexbox;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 1);
    
    .single-project {
        @include flexbox;
        animation: fade-out 1s;
        flex-direction: column;
        .dark-btn {
            color: rgba(37, 36, 37, .9);
            border: 1px solid rgba(37, 36, 37, .3);
            cursor: pointer;
            position: absolute;
            top: 6rem;
            left: 6rem;
            transition: .2s;
        }
        .dark-btn:hover {
            color: rgba(255, 255, 255, .9);
            background-color: rgba(37, 36, 37, 1);
        }
        .single-title {
            font-size: 4rem;
            font-family: $secondaryFont;
            text-transform: uppercase;
            font-weight: 200;
            margin: 0;
            margin-top: 5rem;
            cursor: default;
        }
        .single-description {
            @include flexbox;
            width: 70%;
            margin: 1.5rem;
            .desc-text {
                font-family: $secondaryFont;
                font-size: 1.2rem;
                margin-top: 2rem;
                span {
                    margin-left: 3rem;
                }
            }
        }
        .projects-gallery {
            @include flexbox;
            align-items: flex-start;
            width: 90%;
            flex-wrap: wrap;
            margin: 0;
            background-color: rgba(37, 36, 37, 1);
            .project-column {
                @include flexbox;
                width: 33.3%;
                flex-direction: column;
                align-items: flex-start;
                .project-image-container {
                    cursor: pointer;
                    width: 100%;
                    overflow: hidden;
                    @include flexbox;
                    img {
                        width: 100%;
                        filter: brightness(0.9);
                        filter: saturate(0);
                        transition: 1s;
                    }
                }
                .project-image-container:hover{
                    img {
                        transform: scale(1.1);
                        filter: brightness(1);
                        filter: saturate(1);
                    }
                }
            }  
            // .ukr-image {
            //     .project-image-container {
            //         img {
            //             filter: saturate(1);
            //         }
            //     }
            // }
        }
        .ukr-gallery {
            background-color: rgba(255, 255, 255, 1);
        }
    }
}



