body {
  margin: 0;
  padding: 0;
  background-color: #252425;
  font-weight: 200; }

a {
  text-decoration: none;
  color: unset; }

.title {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 200;
  color: rgba(37, 36, 37, 0.9);
  margin: 0;
  margin-top: 4rem;
  cursor: default; }

.btn {
  border: 0;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: white;
  background-color: rgba(37, 36, 37, 0);
  border: 1px solid rgba(255, 255, 255, 0);
  font-family: "Montserrat", sans-serif;
  padding: .7rem;
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.btn:hover {
  border: 1px solid rgba(255, 255, 255, 0.7); }

.btn:focus {
  outline: none; }

.dark-btn {
  color: rgba(37, 36, 37, 0.9);
  border: 1px solid rgba(37, 36, 37, 0.2);
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  font-size: 1rem;
  padding: .7rem; }
  .dark-btn .fa-chevron-left {
    color: rgba(37, 36, 37, 0.9);
    font-size: 1rem;
    margin-right: .3rem;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }

.dark-btn:hover {
  color: rgba(255, 255, 255, 0.9);
  background-color: #252425;
  border: 1px solid rgba(255, 255, 255, 0.9); }
  .dark-btn:hover .fa-chevron-left {
    color: rgba(255, 255, 255, 0.9); }

@-webkit-keyframes fade-out {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-out {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes modal-open {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes modal-open {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.cn-text {
  font-family: "cyjianxk1aa8ec8c6820303"; }

.lang-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  position: fixed;
  top: 0;
  right: 5rem;
  z-index: 5;
  height: 4rem; }
  .lang-menu .lang-btn {
    font-size: .9rem;
    padding: .5rem;
    font-family: "Raleway", sans-serif;
    background-color: rgba(37, 36, 37, 0.7);
    opacity: .5;
    width: 3rem;
    height: 2.6rem;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .lang-menu .lang-btn:hover {
      opacity: 1; }
  .lang-menu .cn-btn {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: .9rem; }
  .lang-menu .lang-active {
    color: #252425;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 1; }

.hamb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: .5rem;
  right: 1rem;
  z-index: 5;
  mix-blend-mode: exclusion;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  padding: .7rem; }
  .hamb .bar {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 4; }
  .hamb .bar::before, .hamb .bar::after {
    content: '';
    position: absolute;
    z-index: 4;
    top: -8px;
    width: 100%;
    height: 3px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    background-color: rgba(255, 255, 255, 0.8); }
  .hamb .bar::after {
    top: 8px; }

.hamb:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%; }

.hamb-active {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }
  .hamb-active .bar::before, .hamb-active .bar::after {
    top: 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }

.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  mix-blend-mode: exclusion;
  width: 100%;
  height: 4rem;
  font-size: 1.5rem;
  color: white;
  position: fixed;
  top: 0;
  right: 2rem;
  z-index: 5; }
  .hamburger .sign-logo {
    width: 10rem;
    margin-left: 3rem;
    margin-top: 1rem;
    cursor: pointer; }
    .hamburger .sign-logo img {
      width: 100%; }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 4;
  background-color: rgba(37, 36, 37, 0);
  -webkit-transform: translateY(-110%);
  -ms-transform: translateY(-110%);
  transform: translateY(-110%);
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s; }
  .navbar .nav-menus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    justify-content: center;
    width: 100%; }
    .navbar .nav-menus .menu-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-flex: 25%;
      -ms-flex: 25%;
      flex: 25%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .navbar .nav-menus .menu-item .menu-category {
        font-size: 3.5rem;
        color: white;
        font-weight: 200;
        text-transform: uppercase;
        margin: 0;
        padding: .8rem;
        cursor: default; }
      .navbar .nav-menus .menu-item .menu-option {
        margin: 0;
        font-size: 1.3rem;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.7);
        padding: .3rem;
        margin-top: 1rem;
        cursor: pointer;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
      .navbar .nav-menus .menu-item .projects-link {
        font-size: 1.5rem;
        text-transform: uppercase;
        color: white;
        padding: .5rem; }
      .navbar .nav-menus .menu-item .menu-option:hover {
        color: rgba(255, 255, 255, 0.9); }

.navbar-active {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  background-color: rgba(37, 36, 37, 0.9); }

@media (max-width: 1020px) {
  .lang-menu .lang-btn {
    font-size: .6rem;
    width: 2.5rem; }
  .navbar .nav-menus .menu-item .menu-category {
    font-size: 2.7rem;
    padding: 0.3rem;
    margin-top: 3rem; }
  .navbar .nav-menus .menu-item .menu-option {
    font-size: 1.1rem;
    padding: .1rem; } }

@media (max-width: 767px) {
  .lang-menu .lang-btn {
    font-size: .6rem;
    width: 2.5rem; }
  .navbar .nav-menus {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .navbar .nav-menus .menu-item .menu-category {
      font-size: 2.5rem;
      padding: 0.3rem;
      margin-top: 3rem; }
    .navbar .nav-menus .menu-item .menu-option {
      font-size: 1.1rem;
      padding: .1rem; } }

@media (max-width: 374px) {
  .lang-menu .lang-btn {
    font-size: .6rem;
    width: 2.5rem;
    height: 2.5rem; }
  .navbar .nav-menus {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .navbar .nav-menus .menu-item .menu-category {
      font-size: 1.7rem;
      padding: 0.3rem;
      margin-top: 1.3rem; }
    .navbar .nav-menus .menu-item .menu-option {
      font-size: .8rem;
      padding: .1rem; } }

.parallax-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  height: 110vh; }
  .parallax-background .parallax-textbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: inset 0px 0px 250px #252425;
    box-shadow: inset 0px 0px 250px #252425;
    width: 100%;
    height: 100%;
    text-transform: uppercase; }
    .parallax-background .parallax-textbox .titles-section {
      padding: 1rem; }
      .parallax-background .parallax-textbox .titles-section h2, .parallax-background .parallax-textbox .titles-section p {
        width: 100%;
        text-align: center;
        font-size: 4rem;
        font-weight: 200;
        color: rgba(255, 255, 255, 0.9);
        padding: 0;
        margin: 0;
        cursor: default; }
      .parallax-background .parallax-textbox .titles-section p {
        font-size: 2.5rem; }
  .parallax-background .genres-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 3rem; }
    .parallax-background .genres-section p {
      text-align: center;
      font-size: 1.2rem;
      font-weight: 200;
      color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(255, 255, 255, 0);
      padding: 10px;
      margin: 0 2rem;
      cursor: pointer;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .parallax-background .genres-section p:hover {
      background-color: rgba(37, 36, 37, 0);
      color: white;
      border: 1px solid rgba(255, 255, 255, 0.7); }
  .parallax-background .parallax-secondary-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    margin-bottom: 3rem; }
    .parallax-background .parallax-secondary-section .parallax-title {
      width: 100%;
      font-size: 3.5rem;
      font-weight: 200;
      text-align: center;
      color: white;
      margin: 1rem;
      cursor: default; }
    .parallax-background .parallax-secondary-section .btn {
      border: 0;
      font-size: 1.1rem;
      text-transform: uppercase;
      color: white;
      background-color: rgba(37, 36, 37, 0);
      border: 1px solid rgba(255, 255, 255, 0);
      padding: .7rem;
      cursor: pointer;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .parallax-background .parallax-secondary-section .btn:hover {
      border: 1px solid rgba(255, 255, 255, 0.7); }
    .parallax-background .parallax-secondary-section .btn:focus {
      outline: none; }
    .parallax-background .parallax-secondary-section .down {
      width: 3rem;
      height: 3rem;
      -ms-flex-item-align: start;
      align-self: flex-start;
      margin-left: 1rem; }

.first {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.second {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

@media (max-width: 770px) {
  .parallax-background {
    height: 100vh; }
    .parallax-background .parallax-textbox .titles-section {
      padding: 0; }
      .parallax-background .parallax-textbox .titles-section h2, .parallax-background .parallax-textbox .titles-section p {
        font-size: 2.2rem; }
      .parallax-background .parallax-textbox .titles-section p {
        font-size: 1.2rem; }
    .parallax-background .genres-section {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%; }
      .parallax-background .genres-section p {
        font-size: 1rem; }
    .parallax-background .parallax-secondary-section {
      width: 100%; }
      .parallax-background .parallax-secondary-section .parallax-title {
        font-size: 3rem;
        text-transform: uppercase;
        margin: 1rem; }
      .parallax-background .parallax-secondary-section .btn {
        font-size: 1.5rem; } }

.scroll-to-top {
  font-size: 1rem;
  color: white;
  opacity: .6;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2); }

.scroll-to-top:hover {
  opacity: 1; }

.about-page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: white; }
  .about-page-wrapper .about-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-animation: fade-out .7s;
    animation: fade-out .7s; }
    .about-page-wrapper .about-page .info-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 2rem; }
      .about-page-wrapper .about-page .info-box .image-section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 20rem;
        padding: 1rem; }
        .about-page-wrapper .about-page .info-box .image-section img {
          width: 100%;
          border-radius: 50%; }
      .about-page-wrapper .about-page .info-box .about-name {
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-size: 4rem;
        line-height: 4rem;
        font-weight: 200;
        color: rgba(37, 36, 37, 0.9);
        margin: 0;
        margin-top: 2rem;
        cursor: default; }
        .about-page-wrapper .about-page .info-box .about-name span {
          font-weight: 800; }
      .about-page-wrapper .about-page .info-box .cn-name {
        font-size: 2rem; }
      .about-page-wrapper .about-page .info-box .dark-btn {
        margin-top: 2rem; }
      .about-page-wrapper .about-page .info-box .info-section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        width: 50%;
        padding: 1rem; }
        .about-page-wrapper .about-page .info-box .info-section .bio-text {
          color: #252425;
          font-size: 1.2rem; }
          .about-page-wrapper .about-page .info-box .info-section .bio-text .abzac {
            margin-left: 2rem; }

.gallery-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: white; }
  .gallery-main-container .gallery-inner-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%; }
    .gallery-main-container .gallery-inner-container .gallery-main-textbox {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: 25vh; }
      .gallery-main-container .gallery-inner-container .gallery-main-textbox .gallery-title {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: 3.5rem;
        font-weight: 200;
        color: rgba(37, 36, 37, 0.9);
        margin: 0;
        margin-top: 6rem;
        cursor: default; }
      .gallery-main-container .gallery-inner-container .gallery-main-textbox .gallery-categories {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%; }
        .gallery-main-container .gallery-inner-container .gallery-main-textbox .gallery-categories p {
          font-size: 1.4rem;
          margin-left: 1rem;
          margin-right: 1rem;
          cursor: pointer;
          text-transform: uppercase;
          color: #252425;
          border: 1px solid rgba(255, 255, 255, 0);
          padding: .6rem;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
        .gallery-main-container .gallery-inner-container .gallery-main-textbox .gallery-categories p:hover {
          border: 1px solid rgba(37, 36, 37, 0.9); }
        .gallery-main-container .gallery-inner-container .gallery-main-textbox .gallery-categories .active-submenu p {
          border: 1px solid rgba(37, 36, 37, 0.9); }
    .gallery-main-container .gallery-inner-container .genres-list-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      background-color: rgba(255, 255, 255, 0.9); }
      .gallery-main-container .gallery-inner-container .genres-list-container .genre-element {
        width: 25%;
        -webkit-transition: .8s;
        -o-transition: .8s;
        transition: .8s;
        cursor: pointer; }
        .gallery-main-container .gallery-inner-container .genres-list-container .genre-element .third {
          height: 100vh; }
        .gallery-main-container .gallery-inner-container .genres-list-container .genre-element .parallax-secondary-section .parallax-title {
          font-size: 2rem;
          padding: 1rem;
          opacity: 0;
          -webkit-transition: .4s;
          -o-transition: .4s;
          transition: .4s;
          background-color: rgba(37, 36, 37, 0.8);
          border: 1px solid rgba(255, 255, 255, 0);
          text-transform: uppercase;
          cursor: pointer; }
      .gallery-main-container .gallery-inner-container .genres-list-container .genre-element:hover {
        width: 35%;
        opacity: .7; }
        .gallery-main-container .gallery-inner-container .genres-list-container .genre-element:hover .parallax-secondary-section .parallax-title {
          opacity: 1; }
        .gallery-main-container .gallery-inner-container .genres-list-container .genre-element:hover .parallax-secondary-section .parallax-title:hover {
          border: 1px solid white; }
    .gallery-main-container .gallery-inner-container .images-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      background-size: cover;
      background-attachment: fixed; }
      .gallery-main-container .gallery-inner-container .images-container h2 {
        text-align: center;
        font-size: 2rem;
        padding: 2rem;
        font-weight: 300;
        text-transform: uppercase;
        margin: 0;
        margin-top: 2rem;
        cursor: default; }
      .gallery-main-container .gallery-inner-container .images-container .gallery {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; }
        .gallery-main-container .gallery-inner-container .images-container .gallery .gallery-column {
          -webkit-box-flex: 31%;
          -ms-flex: 31%;
          flex: 31%;
          max-width: 31%; }
        .gallery-main-container .gallery-inner-container .images-container .gallery .img-container {
          overflow: hidden;
          border: 2px solid rgba(255, 255, 255, 0);
          -webkit-transition: .4s;
          -o-transition: .4s;
          transition: .4s;
          cursor: pointer; }
          .gallery-main-container .gallery-inner-container .images-container .gallery .img-container img {
            width: 100%;
            vertical-align: middle;
            -webkit-transition: .4s;
            -o-transition: .4s;
            transition: .4s; }
          .gallery-main-container .gallery-inner-container .images-container .gallery .img-container img:hover {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1); }
        .gallery-main-container .gallery-inner-container .images-container .gallery .img-container:hover {
          border: 2px solid rgba(255, 255, 255, 0); }
      .gallery-main-container .gallery-inner-container .images-container .gallery-mobile {
        display: none; }

.compart-back {
  background-image: url("./images/gallery_back/compart_back.jpg");
  background-attachment: fixed;
  background-size: cover; }

.bw-back {
  background-image: url("./images/gallery_back/bw_back.jpg");
  background-attachment: fixed;
  background-size: cover; }

.portraits-back {
  background-image: url("./images/gallery_back/portraits_back.jpg");
  background-attachment: fixed;
  background-size: cover; }

@media (max-width: 815px) {
  .gallery-main-container .gallery-inner-container .gallery-main-textbox {
    height: 20vh; }
    .gallery-main-container .gallery-inner-container .gallery-main-textbox .gallery-title {
      font-size: 1.6rem;
      padding: 0;
      margin-top: 6rem; }
    .gallery-main-container .gallery-inner-container .gallery-main-textbox .gallery-categories p {
      padding: .3rem;
      margin: 0;
      font-size: .7rem;
      margin: 0rem .2rem;
      margin-top: 1rem; }
  .gallery-main-container .gallery-inner-container .genres-list-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .gallery-main-container .gallery-inner-container .genres-list-container .genre-element {
      width: 100%; }
      .gallery-main-container .gallery-inner-container .genres-list-container .genre-element .third {
        height: 25vh; }
      .gallery-main-container .gallery-inner-container .genres-list-container .genre-element .parallax-secondary-section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        height: 25vh;
        margin: 0;
        padding: 0;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end; }
        .gallery-main-container .gallery-inner-container .genres-list-container .genre-element .parallax-secondary-section .parallax-title {
          width: 30rem;
          opacity: 1;
          margin: 0;
          background-color: rgba(37, 36, 37, 0.5);
          padding: .5rem .5rem;
          font-size: 1.3rem;
          border: none; }
    .gallery-main-container .gallery-inner-container .genres-list-container .genre-element:hover {
      width: 100%;
      opacity: 1; }
  .gallery-main-container .gallery-inner-container .images-container .gallery {
    display: none; }
  .gallery-main-container .gallery-inner-container .images-container h2 {
    margin-top: 1rem; }
  .gallery-main-container .gallery-inner-container .images-container .gallery-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .gallery-main-container .gallery-inner-container .images-container .gallery-mobile .img-container {
      overflow: visible;
      width: 100%;
      border: none;
      margin: 0;
      padding: 0; }
      .gallery-main-container .gallery-inner-container .images-container .gallery-mobile .img-container img {
        width: 100%; }
    .gallery-main-container .gallery-inner-container .images-container .gallery-mobile .img-container:hover {
      border: none; } }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 10rem; }
  .footer .footer-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .footer .footer-block h2 {
      color: rgba(255, 255, 255, 0.9);
      font-size: 1.3rem;
      font-weight: 200;
      text-transform: uppercase; }
    .footer .footer-block .website {
      color: rgba(255, 255, 255, 0.9);
      font-size: 1.1rem;
      font-weight: 200;
      margin: 0;
      font-family: "Montserrat", sans-serif; }
    .footer .footer-block .socials {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 50%;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin-top: 1rem;
      height: 3rem; }
      .footer .footer-block .socials .social-btn {
        font-size: 2rem;
        cursor: pointer;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        color: rgba(255, 255, 255, 0.9); }
      .footer .footer-block .socials .social-btn:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2); }
  .footer .copyright {
    color: rgba(255, 255, 255, 0.9);
    font-size: .8rem;
    font-weight: 200;
    margin: 0;
    padding: 1rem; }

.projects-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: white; }
  .projects-page .projects-title, .projects-page .project-title {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 200;
    cursor: default; }
  .projects-page .projects-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-animation: fade-out 1s;
    animation: fade-out 1s; }
    .projects-page .projects-container .project-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      cursor: pointer;
      padding: 1rem; }
      .projects-page .projects-container .project-item img {
        width: 100%;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        -webkit-filter: brightness(0.95);
        filter: brightness(0.95); }
      .projects-page .projects-container .project-item img:hover {
        -webkit-filter: brightness(1.05);
        filter: brightness(1.05); }
      .projects-page .projects-container .project-item .project-title {
        font-size: 2.5rem;
        margin: 0;
        padding: .5rem;
        margin-top: 1rem; }

@media (max-width: 768px) {
  .projects-page .projects-title, .projects-page .project-title {
    font-size: 2rem; }
  .projects-page .projects-title {
    margin-top: 5rem; }
  .projects-page .projects-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .projects-page .projects-container .project-item {
      width: 100%;
      padding: 0;
      margin-top: 1rem;
      text-align: center;
      padding-bottom: 2rem; }
      .projects-page .projects-container .project-item .project-title {
        font-size: 1.5rem;
        padding: 0;
        margin-top: 1rem; } }

.blured {
  -webkit-filter: blur(5px);
  filter: blur(5px); }

.single-project-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: white;
  -webkit-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease; }
  .single-project-page .single-project {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-animation: fade-out 1s;
    animation: fade-out 1s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .single-project-page .single-project .dark-btn {
      margin-top: 5rem;
      border: 1px solid rgba(255, 255, 255, 0);
      position: relative;
      z-index: 5; }
    .single-project-page .single-project .single-title {
      font-size: 4rem;
      text-transform: uppercase;
      font-weight: 200;
      margin: 0;
      margin-top: 2rem;
      padding: 1rem;
      cursor: default; }
    .single-project-page .single-project .single-description {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 70%;
      padding: 1rem; }
      .single-project-page .single-project .single-description .desc-text {
        font-size: 1.2rem; }
        .single-project-page .single-project .single-description .desc-text span {
          margin-left: 3rem; }
    .single-project-page .single-project .projects-gallery {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      width: 90%;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 0;
      margin-bottom: 3rem; }
      .single-project-page .single-project .projects-gallery .project-column {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; }
        .single-project-page .single-project .projects-gallery .project-column .project-image-container {
          cursor: pointer;
          width: 35rem;
          overflow: hidden;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          margin: .15rem; }
          .single-project-page .single-project .projects-gallery .project-column .project-image-container img {
            width: 100%;
            -webkit-transition: 1s;
            -o-transition: 1s;
            transition: 1s; }
        .single-project-page .single-project .projects-gallery .project-column .project-image-container:hover img {
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1);
          -webkit-filter: brightness(1);
          filter: brightness(1); }
  .single-project-page .shamans-back {
    background-image: url("./images/projects_back/shamans.jpg");
    background-attachment: fixed;
    background-size: cover; }
  .single-project-page .ukr-back {
    background-image: url("./images/projects_back/ukrainian.jpg");
    background-attachment: fixed;
    background-size: cover; }
  .single-project-page .steampunk-back {
    background-image: url("./images/projects_back/steampunk.jpg");
    background-attachment: fixed;
    background-size: cover; }

@media (max-width: 768px) {
  .single-project-page .single-project .single-title {
    font-size: 3rem;
    text-align: center; }
  .single-project-page .single-project .single-description {
    width: 90%; }
    .single-project-page .single-project .single-description .desc-text {
      font-size: 1.1rem; }
  .single-project-page .single-project .projects-gallery {
    width: 100%; }
    .single-project-page .single-project .projects-gallery .project-column .project-image-container {
      width: 100%;
      margin: 0; } }

.modal-container {
  display: none;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 36, 37, 0.8); }
  .modal-container .overlay {
    width: 30%;
    height: 100%; }
  .modal-container .modal-image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 95vh; }
    .modal-container .modal-image-container img {
      height: 100%;
      -webkit-box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.5); }
  .modal-container .modal-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: rgba(37, 36, 37, 0.7); }
  .modal-container .move-btn {
    margin: 0 1rem; }

.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: modal-open .7s;
  animation: modal-open .7s; }

@media (max-width: 750px) {
  .modal-container .overlay {
    width: 0%;
    height: 0%; }
  .modal-container .modal-image-container {
    height: 100%; }
    .modal-container .modal-image-container img {
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover; } }

.contact-page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: white; }
  .contact-page-wrapper .contact-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-animation: fade-out .7s;
    animation: fade-out .7s; }
    .contact-page-wrapper .contact-page .image-section {
      width: 20rem;
      margin-top: 3rem; }
      .contact-page-wrapper .contact-page .image-section .contact-image {
        width: 100%;
        border-radius: 50%; }
    .contact-page-wrapper .contact-page .dark-btn {
      margin-top: 2rem; }
    .contact-page-wrapper .contact-page .contact-cont, .contact-page-wrapper .contact-page .contact-socials {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-family: "Montserrat", sans-serif;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 2rem; }
      .contact-page-wrapper .contact-page .contact-cont .cont-text, .contact-page-wrapper .contact-page .contact-socials .cont-text {
        font-size: 1.4rem;
        margin: 0; }
        .contact-page-wrapper .contact-page .contact-cont .cont-text .bold-text, .contact-page-wrapper .contact-page .contact-socials .cont-text .bold-text {
          font-weight: 600; }
      .contact-page-wrapper .contact-page .contact-cont .uppercase, .contact-page-wrapper .contact-page .contact-socials .uppercase {
        text-transform: uppercase;
        font-size: 2rem; }
    .contact-page-wrapper .contact-page .contact-socials {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      margin: 0; }
      .contact-page-wrapper .contact-page .contact-socials i {
        font-size: 3rem;
        margin: 1rem 1rem;
        cursor: pointer;
        color: rgba(37, 36, 37, 0.7); }
